/* General style */

html, body {
  font-size: 18px;
}

h1, h2 {
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

.site-container {
  width: 960px;
  margin: 0 auto;
}

.flex-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header,
.banner h1,
.banner h2 {
  background-color: #000000;
  color: #FFFFFF;
}

/* Header style*/

.logo img {
  height: 1.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.logo h2 {
  margin: 0.66rem 0;
}

/* Main banner style*/

.main-banner {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  height: 25rem;
}

.banner h1,
.banner h2 {
  position: relative;
  top: 9rem;
  font-weight: bold;
  width: 20rem;
}

.banner h1 {
  padding: 0.25rem 3rem 2rem 3rem;
}

.banner h2 {
  padding: 2rem 3rem 0.25rem 3rem;
}
